
@{
    ViewBag.Title = "HomePage";
}

<div class="container">
    <article class="article-style">
        LTI (NSE: LTI) is a global technology consulting and digital solutions Company helping more than 400 clients
        succeed in a converging world. With operations in 31 countries, we go the extra mile for our clients and
        accelerate their digital transformation with LTI’s Mosaic platform enabling their mobile, social, analytics,
        IoT and cloud journeys.<br><br>Founded in 1997 as a subsidiary of Larsen & Toubro Limited, our unique heritage
        gives us unrivaled real-world expertise to solve the most complex challenges of enterprises across all industries.
        <br><br>Each day, our team of more than 33,000 LTItes enable our clients to improve the effectiveness
        of their business and technology operations and deliver value to their customers, employees and shareholders.
    </article>
</div>
<div class="container">
    <div class="vertical-center">
        <strong><p>Our Beliefs</p></strong>
    </div>
</div>
<div class="container" style="margin-top: 10px;background-color: transparent;">
    <table style="margin-top: 1px;">
        <tr>
            <td><img src="~/Content/images/extra-mile-237x300.png" width="130" height="200" /></td>
            <td><img src="~/Content/images/Be-agile-237x300.png" width="130" height="200" /></td>
            <td><img src="~/Content/images/push-frontiers-of-innovation-237x300_robo.jpg" width="130" height="200" /></td>
            <td><img src="~/Content/images/keep-learning-237x300.png" width="130" height="200" /></td>
            <td><img src="~/Content/images/solve-for-society-237x300_new-237x300.png" width="130" height="200" /></td>
        </tr>
        <tr>
            <td>Go the Extra Mile</td>
            <td>Be Agile</td>
            <td>Push Frontiers of Innovation</td>
            <td>Keep Learning</td>
            <td>Solve for Society</td>
        </tr>
    </table>
</div>

